.header-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;
  padding-left:64px;
  padding-right: 64px;
  background-color: #253031;
}

.header {
  display: flex;
}

.header-nav {
  display: flex;
  min-width: 1200px;
  justify-content: space-between;
  flex: 1 0 0;
  align-self: stretch;
  align-items: center;
}

.header h3 {
  text-align: left;
  color: white;
  font-size: 3rem;
  align-items: stretch;
  font-weight: 500;
}

.header-nav {
  display: flex;
  align-items: center;
}

.main-header-menu {
  display: flex;
  height: fit-content;
  gap: 24px;
}