:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #E4F2F1;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  margin: 0 auto;
}

body {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 92px;
  padding-right: 72px;
  background-color: #253031;
}

.header-layout {
  display: flex;
  flex: 800px;
  flex-direction: row;
  align-items: center;
}

.header-name {
  color: #cceb7f;
  font-size: 4rem;
  font-family: 'Cherry Bomb One';
  line-height: 0%;
  min-width: 220px;
}

.nav-layout {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

a {
  color: #BFC0C0;
  font-size: 1.3em;
  font-weight: 500;
  text-decoration: inherit;
  padding: 12px;
}

a:hover {
  color: #C3F73A;
}

.nav-item a.active {
  color: #C3F73A;
  border-bottom: #C3F73A solid 4px;
}

.page-section {
  display: flex;
  justify-content: center;
}

.page-layout {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  padding-top: 92px;
  row-gap: 32px;
}

.about-avatar {
  background-image: url(./assets/notion-portrait.png);
  width: 360px;
  height: 360px;
  border-radius: 999px;
}

.bento {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
  padding: 64px;
  background-color: #1c353560;
  border-radius: 24px;
  box-shadow: 12px 8px 64px #202a2ba6;
  border: 2px solid #25303142;
}

.nav-component {
  min-width: 450px;
}

.page-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 64px;
  gap: 64px;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex: 1;
  margin-right: 48px;
  width: 400px;
}

.resume-header {
  height: fit-content;
  width: 100%;
}

.resume-link {
  height: fit-content;
  width: 100%;
}

.resume-img {
  height: 520px;
  margin-bottom: 1.2em;
  box-shadow: 12px 8px 64px #202a2ba6;
}

button {
  width: 240px;
  padding: 12px;
  border-radius: 8px;
  background-color: #C3F73A;
  color: #0d1111;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  font-weight: 500;
  border: #7ea320 solid 1px;
}

.download-btn:hover {
  background-color: #bfe06b !important;
}

.download-btn {
  width: 100% !important;
  padding: 12px !important;
  border-radius: 8px !important;
  background-color: #C3F73A !important;
  color:  #253031 !important;
}

.social-btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
}

.link-button {
  color: #253031 !important;
  font-size: .8em;
  font-weight: 500;
}

.link-button:hover {
  color: #485d5f !important;
  border-bottom: none !important;
  font-weight: 600;
}

